.DS_Store
.Rproj.user
*~$*.docx
*.tex
*.docx
*.Rapp.history

incubator/*
data/data_raw/*

data/_extra-project-files
*report.pdf

data/*

*.las
*.p4d
*.log
*_geolocations.txt
*gcp*

analyses/analyses_output/*
docs/manuscript/feedback/*

figures/L0_eldo_3k_3_x3_100MEDIA_DJI_0705.JPG
figures/drone-data-levels*

docs/manuscript/local-structure-wpb-severity_supp-methods.pdf
docs/manuscript/submission