.DS_Store
.Rproj.user
*~$*.docx
*.tex
*.docx
*.Rapp.history
.Rhistory

incubator/*

*report.pdf

data/*

*.las
*.p4d
*.log
*_geolocations.txt
*gcp*

analyses/analyses_output/*

figures/L0_eldo_3k_3_x3_100MEDIA_DJI_0705.JPG
figures/drone-data-levels*

docs/manuscript/submission
docs/manuscript/working
docs/manuscript/feedback/
docs/manuscript/*.pdf
